In [0]:
#Libraries
import pandas as pd
import os

In [0]:
%%capture
if not os.path.isfile('tweets.csv'):
    !wget 'https://drive.google.com/uc?export=download&id=17F1luxwaaE4vrhlFsHbOFjSoYhsThuAJ' -O tweets.csv

In [0]:
#Create data frame
tweets_raw = pd.read_csv('tweets.csv')
print(tweets_raw.shape)
tweets_raw.head()

(52542, 10)

      author  ... number_of_shares
0  katyperry  ...             3472
1  katyperry  ...             1380
2  katyperry  ...             2387
3  katyperry  ...             2458
4  katyperry  ...             4655

[5 rows x 10 columns]

In [0]:
#Tweets per person 
tweets_raw['author'].value_counts()

TheEllenShow     3147
jimmyfallon      3123
ArianaGrande     3104
YouTube          3077
KimKardashian    2939
katyperry        2924
selenagomez      2913
rihanna          2877
BarackObama      2863
britneyspears    2776
instagram        2577
shakira          2530
Cristiano        2507
jtimberlake      2478
ladygaga         2329
Twitter          2290
ddlovato         2217
taylorswift13    2029
justinbieber     2000
cnnbrk           1842
Name: author, dtype: int64